body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D3D3D3;
}
 
header {
    background-color: #0033ff;
    padding: 25px 0;
    text-align: center;
}
 
footer {
    background-color: #0033ff;
    padding: 25px 0;
    text-align: center;
}
 
header h1 {
    color: white;
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}
 
.content {
    max-width: 1100px;
    margin: 30px auto;
}
 
section {
    background: #ffffff;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
 
.biography {
    display: flex;
    flex-direction: column;  
    align-items: flex-start;
    gap: 20px;
}
 
.biography img {
    border-radius: 5px;
    width: 220px;
    height: auto;
    object-fit: cov
}